.popup {
    position: fixed;
    right: -300px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    z-index: 10010;
    animation: slideInRight 0.5s forwards, fadeOut 1.5s 1.5s forwards;
}

@keyframes slideInRight {
    0% {
        right: -300px;
    }
    100% {
        right: 20px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.popup.hidden {
    display: none;
}
