.categorys {
    padding: 10px 0;
    display: flex;
    gap: 15px;

}

select {
    border: 0;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
}

.selectBlock {
    position: relative;
}

.selectBlock::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: #898989;
    transition: 0.3s;
}

.selectBlock:hover::before {
    width: 100%;
}
