.contentWrap {
    display: flex;
    gap: 20px;
}

.mainImg {
    min-width: 400px;
    height: 500px;
    background-color: rebeccapurple;
}

.rightInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.title {
    line-height: 1;

}

.table {
    font-size: 16px;
}

.select {
    outline: 0;
    min-width: 140px;
    letter-spacing: normal;
    font-family: 'Oswald', 'sans-serif';
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 1px solid silver;
}

.label {
    min-width: 110px;
}

.addCartButton {
    padding: 10px 15px;
    color: white;
    border: 0;
    font-size: 17px;
    background-color: #222;
    letter-spacing: 1px;
    cursor: pointer;
}

.addCartButton:hover {
    background: #343434;
}

.additionItem {
    display: flex;
    gap: 5px;
}