.windowCart {
    position: absolute;
    background-color: #e0e0e0e6;
    top: 45px;
    right: 0;
    box-shadow: 10px 10px 15px 0px #00000057;
    z-index: 1000;
    padding: 10px;
}

.header {
    margin-bottom: 30px;
    position: relative;
}

.empty {
    font-weight: 100;
}

.quantityOrders {
    font-size: 12px;
}

.logo {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
}

.topBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    transition: 0.8s;
    position: relative;
}

.fixedTopBlock {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100000;
    transition: 0.8s;
}

.cartIcon {
    color: #222;
    cursor: pointer;
    transition: 0.3s;
}

.active {
    transform: scale(1.2);
    color: #3f3f3f !important;
}

.headerNavigation {
    display: flex;
    gap: 20px;
    align-items: center;
}



.itemNavigation {
    text-decoration: none;
    color: #222;
    transition: 0.3s;
}


.itemNavigation::after {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 1.6em;
    width: 20%;
    border-bottom: 1px solid;
    border: 100%;
    content: "";
    z-index: 1;
    opacity: 0;
    transition: width .5s ease, opacity .3s ease;
}

.itemNavigation:hover::after {
    opacity: 1;
    width: 100%;
    text-decoration: none;
    transition: all .3s ease;
}

.itemNavigation:hover {
    scale: 1.1;
}

.itemNavigation:active {
    scale: 0.9;
}

.banner {
    margin-bottom: 30px;
    background: url('../../img/background_banner.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    position: relative;
    transition: 1s;
    text-align: center;
}

.banner::after {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: 'MONIKA LINGERIE';
    font-size: 72px;
    font-weight: 600;
    color: #fff;
    transition: 0.7s;
    width: 100%;
}

.banner::before {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: 'Индивидуальный пошив по вашим меркам';
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    width: 300px;
    transition: 1s;
}


.banner:hover {
    background-color: #b1b1b1;
}

.banner:hover::after {
    opacity: 1;
    top: 50%;
    left: 50%;
}

.banner:hover::before {
    opacity: 1;
    top: 65%;
    left: 50%;
}


.burgerMenuNavigation {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
}

.burgerMenuNavigation::before,
.burgerMenuNavigation::after {
    content: '';
    position: absolute;
    background-color: #222;
    width: 100%;
    height: 3px;
    left: 0;
    transform-origin: center;
    transition: .3s;
}

.middleLine {
    position: absolute;
    background-color: #222;
    width: 100%;
    height: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.burgerMenuNavigation::before {
    top: 0;
}

.burgerMenuNavigation::after {
    bottom: 0;
}

@media screen and (max-width: 656px) {
    .headerNavigation {
        display: flex;
        float: left;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        background: white;
        width: 100%;
        flex-direction: column;
        transform-origin: top;
        transform: rotateX(90deg);
        transition: 0.3s;
    }

    .menuOpen {
        transform: rotateX(0deg);
    }

    .burgerMenuOpen::before {
        top: 50%;
        transform: translateY(-50%)rotate(45deg);;
    }

    .burgerMenuOpen::after {
        bottom: 50%;
        transform: translateY(50%)rotate(-45deg);;
    }
    .middleLineNone{
        left: 100%;
        opacity: 0;
    }
    .burgerMenuNavigation {
        display: block;
    }
}