footer {
    color: #fff;
    width: 100%;
    background: #222;
}

.footerNavigation {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 10px 0;
}

.itemNavigation {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.itemNavigation:hover {
    scale: 1.1;
}

.itemInstagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.itemNavigation:active {
    scale: 0.9;
}

.bottomBlock {
    color: #fff;
}