.item {
    border-radius: 10px 10px 0 0;
    width: 20%;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #e4e4e4;
}

.item img {
    width: 100%;
    transition: 0.3s;
}

.item img:hover {
    cursor: pointer;
    scale: 1.1;
}

h2,
b {
    font-size: 15px;
    color: #222;
    font-weight: bold;
}

h2 {
    font-size: 14px;
}

h2,
.bottom-block {
    margin: 0 5px 5px;
    font-weight: 300;
}

.item .bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item .bottom-block .add-cart {
    font-family: fangsong;
    color: #fff;
    background: #222;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.item .bottom-block .add-cart:hover {
    scale: 1.2;
}

.item .bottom-block .add-cart:active {
    scale: 0.9;
}

.image-block {
    height: auto;
    overflow: hidden;
}