.item {
    border-radius: 10px;
    width: 20%;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #f4f4f4;
}

.itemImg {
    width: 100%;
    transition: 0.3s;
}

.itemImg:hover {
    cursor: pointer;
    scale: 1.1;
}

.itemTitle,
.itemPrice {
    font-size: 15px;
    color: #222;
    font-weight: bold;
}

.itemTitle {
    font-size: 14px;
}

.itemTitle,
.bottomBlock {
    margin: 0 5px 5px;
    font-weight: 300;
}

.bottomBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addCart {
    font-family: fangsong;
    color: #fff;
    background: #222;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.addCart:hover {
    scale: 1.2;
}

.addCart:active {
    scale: 0.9;
}

.imageBlock {
    height: auto;
    overflow: hidden;
}
