/*****Импортирование шрифтов из google*****/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;600&display=swap');

/*****Базовые стили*****/
:root {
    --main-color: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'sans-serif';
    text-decoration: none;
    color: var(--main-color);
}

html,
body,
#root,
.wrapper {
    height: 100%;
    overflow-x: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

body {
    background-color: #fff;
    color: var(--main-color);
    font-weight: 300;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
    width: 900px;
    margin: 100px auto 30px;
    max-width: 90vw;
}


li{
    margin-left: 20px;
}
@media screen and (max-width: 656px){
    .main-container{margin: 50px auto 30px;

    }
}